.page_wrapper{
    position: relative;
    margin-top: 60px;
    bottom: 0;
    height: 40px;
    text-align: center;
    min-width: 400px;
    /*position: relative;*/
}
ul.pagination{
    display: inline-block;
    padding: 0;
    /*width: 500px;*/
    margin: 0 auto;
    /*position: relative;*/
}
ul.pagination span{
    display: inline-block;
    /*box-sizing: border-box;*/
    color: #fb9100;
    margin-top:9px;
}
ul.pagination li{
    display: inline;
    cursor:pointer;
}
ul.pagination li span{
    display: inline-block;
    box-sizing: border-box;
    color: #fb9100;
}
ul.pagination li a{
    font-size: 8px;
    color: #fb9100;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color .2s;
}
ul.pagination li a.active{
    background-color: #fb9100;
    color: white;
    border-radius: 4px;
}
ul.pagination li a:hover:not(.active) {
    background-color: rgb(233, 231, 231);
}

@media screen and (max-device-width: 640px){
    .page_wrapper{
        position: fixed;
        margin-top: 0;
        bottom: 0;
        margin-left: 15%;
        margin-right: auto;
        height: 81px;
        text-align: center;
        min-width: 400px;
    }

    ul.pagination li a{
        font-size: 30px;
        color: #fb9100;
        padding: 8px 20px;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color .2s;
    }
}
